/* Intentionally left empty; React Flow styling lives in component classes. */

.react-flow__handle-left {
    top: 50%;
    left: -7px;
    transform: translate(0%, -50%);
}

.react-flow__handle-right {
    right: -7px;
    top: 50%;
    transform: translate(0, -50%);
}

.react-flow__handle-top {
    left: 50%;
    top: -7px;
    transform: translate(-50%, 0%);
}

.react-flow__handle-bottom {
    top: auto;
    left: 50%;
    bottom: -7px;
    transform: translate(-50%, 0%);
}

.react-flow__edge-path {
    stroke: currentColor !important;
    stroke-width: 1.5;
}

.react-flow__edge-interaction {
    stroke: transparent;
    stroke-width: 20;
    pointer-events: stroke;
}
